:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
    --cor-do-texto: #464646;
    --cor-de-fundo-alt: #EAF2FD;
}

/* Reset CSS simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
}

.navegacao__lista{
    font-size: 1rem;
    display: flex;
    gap: 32px;
}

.cabecalho__marca {
    display: flex;
    align-items: center;
}

.cabecalho__logo {
    width: 41px;
    height: 41px;
}

.cabecalho__titulo {
    font-size: 1.2rem;
    text-align: center;
}

.navegacao__elemento a {
    font-size: 0.9rem;
}

.navegacao__elemento:hover {
    transition: 0.1s;
    transform: scale(1.1);
}

/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.apresentacao__conteiner {
    max-width: 1136PX;
    gap: 1.5rem;
}

.apresentacao__titulo {
    font-size: 2.75rem;
    color: var(--cor-do-texto);
}

.apresentacao__subtitulo {
    font-size: 1.375rem;
    color: var(--cor-do-texto);
}

.apresentacao__foto{
    width: 368px;
}

.redes {
    display: flex;
    gap: 2rem;
}

.redes__elemento::after,
.redes__elemento::before {
    content: '';
    width: 0%;
    height: 1px;
    background: #000000;
    display: block;
    transition: 0.5s;
}

.redes__elemento:hover::after,
.redes__elemento:hover::before {
    width: 100%;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    background-color: var(--cor-de-fundo-alt);
    width: 100%;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-mim__container {
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobre-mim__titulo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-do-texto);
}

.sobre-mim__texto {
    max-width: 100%;
    font-size: 1rem;
    color: var(--cor-do-texto);
}

b {
    font-weight: bold;
    text-decoration: underline;
}

/*------------------------------ Seção de Habilidades ------------------------------*/

.skills {
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
}

.habilidades,
.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hobbies__titulo,
.habilidades__titulo {
    font-size: 2rem;
    color: var(--cor-do-texto);
}

.habilidades__lista,
.hobbies__lista {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.habilidades__elemento,
.hobbies__elemento {
    width: 176px;
    height: 174px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.212);
}

.habilidades__nome,
.hobbies__nome {
    font-weight: bold;
    color: var (--cor-do-texto);
}

/* formações */

.formacao {
    height: 600px;
    background-color: var(--cor-de-fundo-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.formacao__titulo {
    color: var(--cor-do-texto);
    font-size: 2rem;
    font-weight: bold;
}

.formacao__lista {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formacao__elemento {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formacao__icone--container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 368px;
    height: 286px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.212);
}

.formacao__icone {
    width: 60%;
}

.formacao__nome {
    color: var(--cor-do-texto);
    font-size: 1.3rem;
}

.formacao__detalhe {
    color: var(--cor-do-texto);
    font-size: 1rem;
    font-weight: 300;
}

/*------------------------------ Seção de Projetos --------------------------------*/

.projetos {
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.projetos__conteiner {
    display: flex;
    align-items: center;
    gap: 16px;
}

.projetos__container--texto {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img-projeto {
    max-width: 100%;
    height: auto;
}

.projetos__nome {
    font-size: 1.3rem;
    color: var(--cor-do-texto);
    font-weight: bold;
}

.projetos__descricao {
    font-size: 1rem;
    font-weight: 300;
    color: var(--cor-do-texto);
}

.projetos__container--botoes {
    display: flex;
    gap: 16px;
}

.ancora__repositorio {
    display: inline-block;
    border: #2A7AE4 1px solid;
    padding: 16px;
    color: #2A7AE4;
    font-weight: 300;
}

.ancora__repositorio:hover {
    background-color: #2A7AE4;
    padding: 16px;
    color: white;
    transition: 0.3s;
}

.ancora__site {
    border: 1px solid;
    display: inline-block;
    background-color: #2A7AE4;
    padding: 16px;
    color: white;
    font-weight: 300;
}

.ancora__site:hover {
    border: #2A7AE4 1px solid;
    color: #2A7AE4;
    background-color: transparent;
    transition: 0.3s;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

/*------------------------------ Seção de Contato ---------------------------------*/

.contato {
    height: 780px;
    background-color: var(--cor-de-fundo-alt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.contato__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato__titulo {
    font-size: 2rem;
    color: var(--cor-do-texto);
    font-weight: bold;
}

.contato__descricao {
    color: var(--cor-do-texto);
    font-weight: 300;
    text-align: center;
}

.contato__formulario {
    width: 70%;
    height: 309px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.contato__campo {
    height: 56px;
    border: transparent;
    width: 100%;
    box-shadow: 1px 1px 7px 2px #0000003b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

.contato__campo--descricao {
    height: 126px;
}

.ancora__enviar {
    background-color: var(--cor-do-texto);
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border: transparent;
    border-radius: 4px;
    width: 100%;
}


.contato__campo--textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5; /* Ajuste conforme necessário */
    height: 150px; /* Defina a altura do textarea */
    box-sizing: border-box;
}

.contato__campo--textarea,.contato__campo{
    padding-left: 40px;
    resize: none;
}

::placeholder{
    padding: 5px 0 0 px;
    color: #A2A2A2;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.contato__botao{
    width: 165px;
    display: inline-block;
    background-color: #2A7AE4;
    padding: 16px;
    color: white;
    font-weight: 300;
    border: transparent;
    border-radius: 5px;
    text-align: center;
}

.contato__botao:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 768px) {

    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__logo {
        max-width: 100px;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }

    .navegacao {
        display: none;
    }

    .apresentacao{
        width: 100%;
        height: 210px;
    }

    .apresentacao__conteiner{
        width: 524px;
    }

    .apresentacao__titulo{
        font-size: 2rem;
    }

    .apresentacao__subtitulo{
        font-size: 1rem;
    }

    .apresentacao__foto{
        width: 146px;
    }

    .skills{
        height: 900px;
    }

    .hobbies__lista{
        justify-content: center;
        flex-wrap: wrap;
    }

    .formacao{
        margin-bottom: 32px;
    }

    .formacao__lista{
        flex-direction: column;
        height: 661px;
        gap: 16px;
    }

    .formacao__elemento{
        align-items: center;
    }

    .projetos__conteiner{
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .formacao__icone--container{
        width: 350px;
        height: 158px;
    }

    .projetos__container--texto{
        gap: 8px;
    }

    .contato__campo{
        height: 80px;
        border: transparent;
        width: 75%;
        box-shadow: 1px 1px 7px 2px #0000003b;
        border-radius: 10px;
    }

    .contato__campo--textarea{
        height: 200px;
    }
    
}

/* Telas grandes */
@media (max-width: 768px) {

    .cabecalho{
        justify-content: center;
        height: 100px;
    }

    .navegacao__lista{
        display: none;
    }

    .apresentacao{
        margin: 0;
        flex-direction: column-reverse;
    }

    .apresentacao__conteiner{
        width: 70%;
        margin-bottom: 25px;
    }

    .apresentacao__titulo{
        font-size: 1.6rem;
        text-align: center;
    }

    .apresentacao__subtitulo{
        font-size: 1rem;
        text-align: center;
    }

    .redes{
        justify-content: center;
    }

    .apresentacao__foto{
        width: 50%;
    }

    .sobre-mim__container{
        margin: 0 10px;
    }

    .sobre-mim__texto{
        width: 100%;
        height: 208px;
    }
    
    .skills{
        margin-top: 25px;
        height: 1300px;
    }

    .habilidades__lista, .hobbies__lista{
        justify-content: center;
        flex-wrap: wrap;
    }

    .formacao{
        margin-bottom: 25px;
        height: 900px;
    }

    .formacao__lista{
        flex-direction: column;
    }

    .projetos__conteiner{
        flex-direction: column;
    }

    .projetos__container--texto{
        align-items: center;
    }

    .contato__formulario{
        width: 60%;
    }

    .contato__titulo{
        font-size: 3rem;
        text-align: center;
    }

    .contato__descricao{
        font-size: 1.5rem;
    }
}